.App {
  font-family: sans-serif;
  text-align: center;
  background-color: white;
  margin: 3rem;
  box-shadow: 3px 3px 3px 2px rgb(197, 64, 64);
}

.App h3 {
  padding-top: 1rem;
}

body {
  margin: 0;
  background-color: rgb(245, 110, 184);
}

button {
  width: 12rem;
  margin: 1rem;
  border: none;
  padding: 0.5rem;
  background: rgb(245, 110, 184);
  color: white;
  cursor: pointer;
  font-size: medium;
  transition: all 0.3s ease;
}

button:hover {
  font-weight: bolder;
  font-size: medium;
  background-color: white;
  color: rgb(245, 110, 184);
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* .article-list{
  display: inline;
} */

.article-list {
  display: flex;
  flex-direction: row;
  padding: 1rem 1rem;
}

.article-h3 {
  padding: 0;
  margin: 0;
}

.article-img {
  max-width: 80px;
}

.article-div {
  margin-left: 1rem;
  text-align: left;
}
.article-list.center {
  width: 10px;
}

.article-p {
  display: inline;
  color: gray;
  font-size: 15px;
  justify-content: left;
}
